<!DOCTYPE html>
<html lang='en'>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset='UTF-8'>
    <title>发布会</title>
</head>
<body body role='document'>
<!-- 导航栏    -->
<div style="background-color: aliceblue;height:50px;padding-top: 10px">
        <a href="#" style="float:left;padding-left: 100px;color: darkcyan;font-size: 20px">Guest Manage System</a>
        <ul style="list-style: none">
            <li style="float:left;padding-left: 20px;padding-top: 6px;"><a href="/search_name/" style="color: darkcyan;font-size: 15px">发布会</a></li>
            <li style="float:left;padding-left: 30px;padding-top: 6px"><a href="/guest_manage/" style="color: darkcyan;font-size: 15px" >嘉宾</a></li>
            <li style="float:left;padding-left: 700px;padding-top: 6px"><a href="#" style="color: darkcyan;font-size: 15px">{{ user }}</a></li>
            <li style="float:left;padding-left: 40px;padding-top: 6px"><a href="/logout/" style="color: darkcyan;font-size: 15px">退出</a></li>
        </ul>
</div>
<!--发布会搜索表单-->
<div class=' page-header:30px' style='padding-top: 15px;text-align: center'>
    <div id='navbar' class='navbar-collapse collapse'>
        <form class='navbar-form' method='get' action='/search_name/'>
            <div class='form-group'>
                <input name='name' type='text' placeholder='名称' class='form-control'></div>
            <button type='submit' class='btn btn-success'>搜索</button>
        </form>
    </div>
</div>
<!-- 发布会列表    -->
<div class='row' style='padding-top: 30px;text-align: center;padding-left: 180px'>
    <div class='col-md-6'>
        <table class='table table-striped' style="width: 1000px">
            <thead>
            <tr>
                <th style="text-align: center">id</th>
                <th style="text-align: center">名称</th>
                <th style="text-align: center">状态</th>
                <th style="text-align: center">地址</th>
                <th style="text-align: center">时间</th>
                <th style="text-align: center">签到</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.status }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.start_time|date:"Y-m-d H:i:s" }}</td>
                    <td><a href="/sign_index/{{ event.id }}/" target="{{ event.id }}_blank"> sign</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>